extends ./layout.jade

block content
  form#my-form
    input#name(placeholder="name")
    br
    input#email(placeholder="email")
    br
    textarea#message(placeholder="message")
    br
    input(type="submit")

