doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title foobar
    meta(name="author" content="")
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    != '\n<!--[if lt IE 9]>\n'
      script(src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js")
      script(src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js")
    != '\n<![endif]-->\n'
    link(rel="shortcut icon" href="favicon.ico")
    link(rel="stylesheet" href="css/main.css")
    script(src="components/parse-js-sdk/lib/parse.js" cdn="//www.parsecdn.com/js/parse-1.3.1.min.js")
    script(src="components/jquery/dist/jquery.js" cdn="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="js/*.js" glob)
  body
    block content
